flows(1).json
[
    {
        "id": "187ba28f213e518c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "158866140c7dcd91",
        "type": "debug",
        "z": "187ba28f213e518c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1c0805bf867a1a4",
        "type": "mqtt in",
        "z": "187ba28f213e518c",
        "name": "",
        "topic": "Temperature_Celsius",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3eed30d84d82073a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "158866140c7dcd91",
                "4e849babad9a6a31",
                "5fc13135780fd078"
            ]
        ]
    },
    {
        "id": "4e849babad9a6a31",
        "type": "ui_chart",
        "z": "187ba28f213e518c",
        "name": "",
        "group": "e9c91c9c6b03eb9e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperaturdiagramm 째C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5fc13135780fd078",
        "type": "ui_text",
        "z": "187ba28f213e518c",
        "group": "e9c91c9c6b03eb9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelle Temperatur in 째C:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "8b0dfc84f67a3c1f",
        "type": "ui_chart",
        "z": "187ba28f213e518c",
        "name": "",
        "group": "e9c91c9c6b03eb9e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperaturdiagramm 째F",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "504516f59d56cd6f",
        "type": "ui_text",
        "z": "187ba28f213e518c",
        "group": "e9c91c9c6b03eb9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelle Temperatur in 째F:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "1f8749ae52c5040a",
        "type": "mqtt in",
        "z": "187ba28f213e518c",
        "name": "",
        "topic": "Temperature_Fahrenheit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3eed30d84d82073a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "85cabca050c45993",
                "8b0dfc84f67a3c1f",
                "504516f59d56cd6f"
            ]
        ]
    },
    {
        "id": "85cabca050c45993",
        "type": "debug",
        "z": "187ba28f213e518c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "3eed30d84d82073a",
        "type": "mqtt-broker",
        "name": "10.0.42.12:1883",
        "broker": "10.0.42.12",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e9c91c9c6b03eb9e",
        "type": "ui_group",
        "name": "Temperatur",
        "tab": "6558ef60550c3cde",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6558ef60550c3cde",
        "type": "ui_tab",
        "name": "Celsius",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]